# shellcheck shell=bash
source_env_if_exists .envrc.local

# If you want a Nix-provisioned dev environment (optional), then put this in `.envrc.local`:
# use flake

# For OTel configuration locally, you want to put something like this in
# `.envrc.local` and then use https://github.com/CtrlSpice/otel-desktop-viewer
# (nixpkgs#otel-desktop-viewer):
# export OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
# export OTEL_TRACES_EXPORTER="otlp"
# export OTEL_EXPORTER_OTLP_PROTOCOL="grpc"
